<div class="stock-card" [ngStyle]="{ backgroundColor: getCardColor() }">
  <div class="stock-symbol">{{ stock.symbol }}</div>
  <div class="stock-price">${{ stock.price.toFixed(2) }}</div>
  <div class="stock-change">{{ getPriceChange() }}</div>

  <p>{{ stock.name }}</p>
  <p>High: {{ stock.high }}</p>
  <p>Low: {{ stock.low }}</p>

  <ng-container *ngIf="!isMobile">
    <p>52W High: {{ stock.week52High }}</p>
    <p>52W Low: {{ stock.week52Low }}</p>
  </ng-container>

  <div class="toggle-wrapper">
    <div class="custom-toggle" (click)="toggleStock()" [class.off]="!stock.isActive">
      <span class="toggle-label"><b>{{ stock.isActive ? 'ON' : 'OFF' }}</b></span>
      <div class="toggle-circle"></div>
    </div>
  </div>

</div>